// 혈맹창설_혈맹 리스트
// ===============================


// 분류
//--------------------------------
.preorder-clan-content-header {
    position: relative;
    //padding-bottom: 14px;
}

.preorder-clan-sort {
    padding-bottom: 14px;
    padding-left: 15px;

    @include bp(pc) {
        min-height: 47px;
        padding-top: 4px;
    }

    .select-wrapper {
        position: relative;
        display: inline-block;
        margin-right: 13px;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 0;
            display: inline-block;
            @include triangle(8px, #b8b8b8, down);
        }

        @include bp(pc) {
            margin-right: 20px;
        }
    }

    select {
        position: relative;
        z-index: 1;
        padding-right: 13px;
        border: 0 none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 13px;
        color: #aaa;
        font-weight: 300;
        outline: none;
        cursor: pointer;
        background-color: transparent;

        &::-ms-expand { display: none; }

        @include bp(pc) {
            color: #767676;
        }
    }
}

// 리스트
//--------------------------------
.preorder-clan-list-wrap {}
.preorder-clan-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #ededed;

    .clan-list-items {
        border-top: 1px solid #ededed;
    }

    .clan-list-items .clan-info-wrap .server { color: #797e88; }
    .clan-list-items .clan-info-wrap .clan { color: #1f1f1f; }
    .clan-list-items .clan-info-wrap .person { color: #8c919a; }
    .clan-list-items .clan-info-wrap .master-wrap { margin-top: 4px; color: #8c919a; }

    .btn-join {
        &[disabled] {
            color: #b8b8b8;
            border-color: #b8b8b8;
            cursor: default;
        }
    }
}



