// 혈맹창설_header
// ===============================

.preorder-clan-header {
    max-width: 1260px;
    margin: 0 auto;
    text-align: center;

    .btn-create-clan {
        margin-top: 18px;
        padding: 0 20px;
        margin-bottom: 30px;
        height: 32px;
        line-height: 32px;
        color: #f3c489;
        font-size: 12px;
        text-align: center;
        border: 1px solid #f3c489;
        box-sizing: content-box;

        @include bp(pc) {
            margin-top: 40px;
            padding-left: 68px;
            padding-right: 68px;
            height: 52px;
            line-height: 52px;
            font-size: 16px;
            border-width: 2px;
        }
    }
}

// 초대받은 혈맹, 가입승인 대기중인 혈맹
.myclan-state-wrap {
    width: 100%;
    margin-top: 25px;

    @include bp(tablet) {
        display: table;
    }

    @include bp(pc) {
        height: 120px;
        //margin-top: 65px;
        margin-top: 40px;
    }

    .myclan-state {
        color: #aaa;

        &:last-child {
            margin-top: 1px;
        }

        @include bp(tablet) {
            display: table-cell;
            width: 50%;
            vertical-align: top;

            &:first-child {
                padding-right: 1px;
            }

            &:last-child {
                margin-top: 0;
            }
        }

        // 블럭 사이 1픽셀을 위한 wrap
        .block {
            height: 84px;
            line-height: 83px;
            font-size: 14px;
            text-align: left;
            background-color: rgba(#060202, .6);
            border: 1px solid rgba(#3c1e1c, .6);
            @include transition(all, .4s);

            &:before {
                display: none;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                border: 1px solid rgba(#a90909, .6);
            }

            @include bp(tablet) {
                font-size: 13px;
            }

            @include bp(pc) {
                height: 120px;
                line-height: 110px;

                &:hover {
                    //background-color: rgba(#040100, .4);
                    @include transition(all, .7s);

                    &:before {
                        display: block;
                    }
                }
            }
            @include bp(max) {
                font-size: 15px;
                letter-spacing: -.7px;
            }
        }

        .thumb-wrap {
            //display: block;
            //position: absolute;
            top: 17px;
            //left: 15px;
            //width: 50px;
            //height: 50px;
            //line-height: 50px;
            //text-align: center;
            //overflow: hidden;
            //border-radius: 50%;
            background: rgba(#000, .4);
            border: 0 none;

            .thumb {
                //position: absolute;
                //left: 50%;
                //top: 50%;
                //display:inline-block;
                //width: auto;
                //max-width: none;
                //height: 80px;
                //transform: translate(-50%, -50%);
                //border-radius: 50%;
                //width: 100%;
                //height: auto;
                //vertical-align: top;
            }

            @include bp(pc) {
                top: 20px;
                left: 30px;
                width: 80px;
                height: 80px;
                line-height: 80px;
            }
        }

        .clan-info-wrap {
            padding: 0;
            line-height: 18px;
            font-size: 15px;
        }

        .title {
            margin: 0;
            padding: 0 0 2px 0;
            font-size: 12px;
            color: #f0b6b6;
            font-weight: normal;

            @include bp(pc) {
                font-size: 13px;
            }
        }
        .clan {
            &:before {
                background-color: #9e9c9c;
            }
        }

        .person { font-style: normal; }

        .btn {
            top: 30px;
            color: #fff;
            border: 0 none;
            background-color: #bb8b5b;

            &:hover {
                color: #fff;
                background-color: #bd8e6c;
            }

            &[disabled] {
                color: #a57e6d;
                cursor: default;
                background-color: #75422c;
                border-color: #75422c;
            }

            @include bp(pc) {
                top: 40px;
                right: 30px;
            }
        }

        .btn-go-agit {
            &:after {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                margin-left: 5px;
                background: url('assets/img/preorder/agit/external_link.png') no-repeat;
                background-size: 8px auto;
            }

            @include bp(max) {
                &:after {
                    width: 11px;
                    height: 11px;
                    background-size: 11px auto;
                }
            }
        }

        .btn-cancel-request {
            background-color: #b00909;
            border-color: #b00909;

            &:hover {
                background-color: #a40407;
                border-color: #a40407;
            }
        }
    }
}


// 혈맹 창설 header 재선언
.page-preorder-clan {
    #nc-cnb .ncc-header { background: transparent; }
    #nc-cnb.is-sticky .ncc-header { background-color: #5c443b; }

    .wrap-header {
        background-image: url('assets/img/preorder/clan/header_m.jpg');
        //background-size: auto 224px;
        background-position: 50% 0;
        background-repeat: no-repeat;
        //background-size: cover;

        @include bp(pc) {
            background-image: url('assets/img/preorder/clan/header.jpg');
            background-size: auto 460px;
            //min-height: 460px;
            min-height: 420px;
            padding-bottom: 25px;
        }

        .header {
            display: block;
            padding-top: 70px;

            .header-title {
                display: block;
            }

            @include breakpoint($bp-pc) {
                padding-top: (188px-23);
            }
        }
    }
}
