// 혈맹창설, 혈맹정보수정_Layer
// ===============================
.ly-preorder-clan {

    h2 {
        margin: 0;
        font-weight: normal;
        font-size: (17px);
        color: #1f1f1f;
    }

    input[type="text"],
    textarea {
        width: 100%;
        border: 1px solid rgba(#8b8b8b, .5);

        &:focus {
            border-color: #bc8d5d;
        }
    }

    textarea {
        height: 84px;
        //min-height: 100px;
        padding: 9px 15px;
        resize: none;
        transition: height .3s;
    }

    .guild-title {
        padding: 0 0 15px 0;
        margin: 0 0 20px 0;
        font-size: 17px;
        color: #1f1f1f;
        border-bottom: solid 1px #f0f0f0;

        .guild {

            &:before {
                content: '';
                display: inline-block;
                width: 2px;
                height: 2px;
                margin-right: 6px;
                margin-left: 2px;
                background-color: #1f1f1f;
                vertical-align: middle;
                border-radius: 50%;
            }
        }
    }

    .wrap-name {
        position: relative;
        margin-top: 10px;
        padding-right: 77px;

        input {
            height: 40px;
            padding-left: 15px;
            line-height: em(36px);
        }

        .btn-check-duplicate {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            min-width: 64px;
            height: 40px;
            padding: 0 10px;
            font-size: 13px;
            line-height: 40px;
            color: #fff;
            background-color: #cecece;
        }
    }

    .wrap-desc {
        margin-top: 10px;
    }

    .wrap-plan {
        position: relative;
        margin-top: 37px;

        p {
            font-size: em(15px);
        }

        textarea {
            margin-top: 7px;
        }
    }

    .wrap-contact {
        margin-top: 38px;
    }

    .wrap-plan-attach {
        margin-top: 12px;

        .attach-list {
            @include pie-clearfix;
            margin: 0;
            padding: 0;
            list-style: none;

            .attach-thumb button {
                display: inline-block;
            }
        }
    }

    .subcopy-text {
        margin: -9px 0 0;
        font-size: em(16px);
        font-weight: 300;
        font-style: normal;
        line-height: 1.31;
        text-align: center;
        color: #686868;
        word-wrap: break-word;
        word-break: break-all;
    }

    // 입력 폼
    .preorder-form-wrap {
        margin-top: 24px;
        padding-top: 21px;
        border-top: 1px solid rgba(159,159,159,.3);
    }

    .btn-wrap {
        margin-top: 23px;
        padding: 25px 0 0 0;
        border-top: 1px solid #f0f0f0;

    }

    .ly-contents {
        input[type=text],
        input[type=tel],
        textarea {
            -webkit-appearance: none;
            border-radius: 0;
        }

        // 이용동의
        .wrap-agreement {
            @include pie-clearfix;
            margin-top: 17px;

            & > div {
                @include pie-clearfix;
            }

            input {
                position: absolute;
                left: -999em;
            }

            label {
                padding-left: 26px;
                font-size: (13px);

                .label-text {
                    line-height: 20px;
                }

                .custom-btn {
                    position: absolute;
                    left: 0;
                }
            }

            button {
                margin-left: 28px;
                font-size: em(13px);
                color: #8a8a8a;

                i {
                    margin-top: -2px;
                }

                &.is-active i {
                    transform: rotate(180deg);
                }
            }

            & + .wrap-agreement {
                margin-top: em(10px);
            }

            // 이용약관 내용
            .detail-agreement {
                clear: both;
                display: none;
                width: 100%;
                height: 100px;
                margin-top: em(8px);
                padding: em(8px);
                border: 1px solid #eee;
                font-size: 13px;
                overflow-y: scroll;
                overflow-x: hidden;
                background-color: #fff;
                -webkit-overflow-scrolling: touch;

                &.is-show {
                    display: block;
                }

                iframe {
                    display: block;
                    border: 0;
                    width: 100%;
                    height: 100px;
                }
            }
        }

        .wrap-valid-msg {
            p {
                display: none;
                margin-top: 15px;
                margin-bottom: -10px;
                font-size: 13px;
                text-align: center;
                color: #bc8d5d;
            }
        }

        input, textarea {
            font-size: 13px;
            letter-spacing: -.7px;

            @include bp(tablet) {
                font-size: 15px;
            }
        }

        .clan-join-way {
            margin-top: 30px;

            h2 {
                display: inline-block;
                padding-right: 15px;
            }
            input {
                display: none;
            }
            label {
                display: block;
                margin-top: 12px;
                font-size: em(14px);
                color: #414141;
            }
            .custom-btn {
                display: inline-block;
                width: 22px;
                height: 22px;
                vertical-align: middle;
                background-image: url('assets/img/preorder/clan/forms.png');
                background-repeat: no-repeat;
                background-size: 22px auto;
            }

            input:checked + .ui-custom-radio .custom-btn {
                background-position: 0 -29px;
            }

            .desc {
                display: block;
                padding-left: em(33px);
                font-size: em(15px);
                font-weight: 300;
                font-style: normal;
                line-height: 1.38;
                color: #8a8a8a;
            }
        }

        .wrap-valid-msg p {
            margin-top: 3em;
        }

        .btn-ly-confirm {
            height: 45px;
            margin: 0 3px;
            padding: 0 42px;
            //line-height: 3em;
            color: #fff;
            background-color: #bc8d5d;
            border-radius: 45px;

            @include bp(pc) {
                padding-top: -5px;
            }
        }

        .btn-ly-cancel {
            margin: 0 3px;
            padding: 0 42px;
            line-height: 3em;
            color: #fff;
            background-color: #b8b8b8;
        }


        // 합침
        input, textarea {
            font-size: em(12px);
            letter-spacing: -.7px;

            @include bp(tablet) {
                font-size: em(15px);
            }
        }

        //.clan-join-way {
        //    margin-top: 30px;
        //
        //    h2 {
        //        display: inline-block;
        //        padding-right: 15px;
        //    }
        //    input {
        //        display: none;
        //    }
        //    label {
        //        display: block;
        //        margin-top: 12px;
        //        font-size: em(14px);
        //        color: #414141;
        //    }
        //    .custom-btn {
        //        display: inline-block;
        //        width: 22px;
        //        height: 22px;
        //        vertical-align: middle;
        //        background-image: url('/rk/v1/img/icon/forms.png');
        //        background-repeat: no-repeat;
        //        background-size: 22px auto;
        //    }
        //
        //    input:checked + .ui-custom-radio .custom-btn {
        //        background-position: 0 -29px;
        //    }
        //
        //    .desc {
        //        display: block;
        //        padding-left: em(33px);
        //        font-size: em(15px);
        //        font-weight: 300;
        //        font-style: normal;
        //        line-height: 1.38;
        //        color: #8a8a8a;
        //    }
        //}

        .wrap-valid-msg p {
            margin-top: 3em;
        }

        .btn-ly-cancel {
            margin: 0 3px;
            padding: 0 42px;
            line-height: 3em;
            color: #fff;
            background-color: #b8b8b8;
        }

        @include bp(pc) { letter-spacing: -.7px; }


    }

}


body.pc .ly-contents .wrap-agreement .detail-agreement {
    overflow-y: hidden;
}


html[lang="ko"] {
    .ly-preorder-apply .wrap-agreement label {
        float: left;
        width: 65%;
    }

    .ly-preorder-apply .wrap-agreement button {
        float: right;
        margin-left: 0;
        margin-top: 3px;
    }
}

// 혈맹 정보 수정 재선언
.ly-modify-guild-info {
    .ly-contents .clan-join-way h2 { display: block }
    .ly-contents .clan-join-way label { display: inline-block; margin-right: 25px;}
}


