.page-minigame {
    background: #000 url("assets/img/preorder/bg_minigame_visual_m.jpg") no-repeat;
    background-size: 100%;

    @include bp(pc) {
        background-image: url("assets/img/preorder/bg_minigame_visual.jpg");
        background-size: auto 100%;
    }

    .page-contents-list {
        // 공통인 부분은 section_common.scss 으로 이동 (혈맹과 같이 사용)

        .data-table {
            width: 100%;
            margin: 15px 0 0 0;
            table-layout: fixed;
            letter-spacing: -0.25px;
            text-align: center;
            font-size: 12px;
            border-spacing: 1px;

            th, td {
                padding: 8px 0 7px;
            }

            th {
                background: #caa47d;
                color: #fff;
                font-weight: normal;

                &.th-point { background-color: #af7a46; }

                em {
                    color: #fffc00;
                    font-style: normal;
                }
            }

            td {
                background: #f1f1f1;
            }

            @include bp(pc) {
                font-size: 13px;

                th, td { padding: 7px 0 8px 0; }
            }
        }

        .desc-list {
            margin: 10px 0 0 0;
            padding: 0;
            list-style-type: none;
            color: #8c919a;
            font-size: 13px;

            br { display: none; }

            @include bp(pc) {
                margin-top: 15px;
                font-size: 15px;

                br { display: block; }
            }
        }

        .desc-items {
            position: relative;
            margin: 0;
            padding: 0 0 0 9px;
            line-height: 1.4;

            span {
                position: absolute;
                top: 0;
                left: 0;
            }

            @include bp(pc) {
                padding-left: 10px;
            }

        }

        .banner {
            margin-top: 13px;

            .img-m {
                width: 100%;
                max-width: 301px;
            }
            .img-pc { display: none; }

            @include bp(pc) {
                margin-top: 18px;

                .img-m { display: none; }
                .img-pc { display: block; }
            }

            * {
                display: block;
            }

            img {
                width: 100%;
            }
        }

        .icon-buff {
            display: inline-block;
            width: 14px;
            height: 15px;
            margin: 0 2px 0 4px;
            background-position: 0 -52px;
            vertical-align: middle;

            @include bp(pc) {
                width: 20px;
                height: 20px;
                background-position: 0 -67px;
            }
        }

        .btn-set {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin-top: 15px;

            @include bp(pc) {
                margin-top: 20px;
            }

            .btn {
                margin-right: 4px;

                @include bp(pc) { margin-right: 5px; }
            }

            .btn-style {
                display: inline-block;
                height: 37px;
                padding: 0 10px;
                text-align: center;
                text-decoration: none;
                line-height: 37px;
                color: #bd8d5d;
                font-size: 12px;
                letter-spacing: -0.7px;
                vertical-align: top;
                border: 1px solid #dec6ae;
                border-radius: 1px;

                @include bp(pc) {
                    height: 46px;
                    padding: 0 15px;
                    font-size: 14px;
                    line-height: 42px;
                    letter-spacing: -.5px;
                    border-color: #bd8d5d;
                }
            }

            .btn-googleplay {}
            .btn-appstore {}
            .btn-buff {
                padding-left: 7px;
                padding-right: 7px;

                @include bp(pc) {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }

        }
    }

    .icon-buff {
        background-image: url("assets/img/preorder/sp_minigame_m.png");
        background-repeat: no-repeat;
        background-size: (170/2) + px (150/2) +px;

        @include bp(pc) {
            background-image: url("assets/img/preorder/sp_minigame.png");
            background-size: inherit;
        }
    }
}

.mobile.ANDROID {
    .page-minigame .btn-appstore{
        display: none;
    }
}

.mobile.IOS{
    .page-minigame .btn-googleplay{
        display: none;
    }
}
