.character-info-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  .character-image {
    position: absolute;
    top:0;
    right: -30px;
    bottom: 0;
    left: -30px;
    background-image: url("assets/img/preorder/character/class/leader_male_m.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transition: background-image .5s ease;

    &.leader.male, &.game_class8.gender1{
      background-image: url("assets/img/preorder/character/class/leader_male_m.png");
    }

    &.leader.female, &.game_class8.gender2{
      background-image: url("assets/img/preorder/character/class/leader_female_m.png");
    }

    &.knight.male, &.game_class1.gender1{
      background-image: url("assets/img/preorder/character/class/knight_male_m.png");
    }

    &.knight.female, &.game_class1.gender2{
      background-image: url("assets/img/preorder/character/class/knight_female_m.png");
    }

    &.fairy.male, &.game_class2.gender1{
      background-image: url("assets/img/preorder/character/class/fairy_male_m.png");
    }

    &.fairy.female, &.game_class2.gender2{
      background-image: url("assets/img/preorder/character/class/fairy_female_m.png");
    }

    &.wizard.male, &.game_class3.gender1{
      background-image: url("assets/img/preorder/character/class/wizard_male_m.png");
    }

    &.wizard.female, &.game_class3.gender2{
      background-image: url("assets/img/preorder/character/class/wizard_female_m.png");
    }

    @include bp(tablet) {
      background-position: 100% 50%;

      &.leader.male, &.game_class8.gender1{
        background-image: url("assets/img/preorder/character/class/leader_male.png");
      }

      &.leader.female, &.game_class8.gender2{
        background-image: url("assets/img/preorder/character/class/leader_female.png");
      }

      &.knight.male, &.game_class1.gender1{
        background-image: url("assets/img/preorder/character/class/knight_male.png");
      }

      &.knight.female, &.game_class1.gender2{
        background-image: url("assets/img/preorder/character/class/knight_female.png");
      }

      &.fairy.male, &.game_class2.gender1{
        background-image: url("assets/img/preorder/character/class/fairy_male.png");
      }

      &.fairy.female, &.game_class2.gender2{
        background-image: url("assets/img/preorder/character/class/fairy_female.png");
      }

      &.wizard.male, &.game_class3.gender1{
        background-image: url("assets/img/preorder/character/class/wizard_male.png");
      }

      &.wizard.female, &.game_class3.gender2{
        background-image: url("assets/img/preorder/character/class/wizard_female.png");
      }
    }
  }

  .character-desciption {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    text-align: right;
    letter-spacing: -0.5px;
    text-shadow: 0 0 20px rgba(0,0,0,0.8);

    @include bp(tablet) {
      bottom: (95*0.7)+px;
    }

    @include bp(pc) {
      bottom: 95px;
    }

    dt {
      font-size: (40*0.5)+1+px;
      color: #fff;

      @include bp(pc) {
        font-size: 40px;
      }
    }

    dd {
      margin-top: 3px;
      font-size: (26*0.5)+1+px;
      color: #2dc0e5;

      @include bp(pc) {
        font-size: 18px;
      }
    }
  }
}
