.jumbotron {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  width: 100%;
  padding: 100px 0;
  text-align: center;

  @include bp(pc) {
    padding: 200px 0;
  }

  .message-wrap {
    .message {
      margin: 0;
      color: #2cc5e7;
      font-size: (28*0.5)+1+px;

      @include bp(pc) {
        font-size: 20px;
        line-height: 32px;
      }

      &.danger {
        color: #bd6644;
      }

      br {
        display: block;

        @include bp(pc) {
          display: none;
        }
      }

      & + .btn {
        margin-top: 5px;

        @include bp(pc) {
          margin-top: 10px;
        }
      }
    }

    .btn {
      -webkit-appearance: none;
      border: none;
      background-image: url("assets/img/preorder/character/sp_btn_m.png");
      background-repeat: no-repeat;
      background-color: transparent;
      background-size:(286*0.5)+px (366*0.5)+px;
      width: (286*0.5)+px;
      height: (126*0.5)+px;
      line-height: (126*0.5)-2+px;
      margin: 0 -4px;
      color: #e0faff;
      font-size: (26*0.5)+1+px;
      letter-spacing: -0.5px;
      transition: background-image .3s ease;

      @include bp(pc) {
        width: 246px;
        height: 94px;
        margin: 0 -8px;
        background-image: url("assets/img/preorder/character/sp_btn.png");
        background-size: 246px 330px;
        font-size: 26px;
      }

      &:hover {
        background-image: url("assets/img/preorder/character/sp_btn_on_m.png");

        @include bp(pc) {
          background-image: url("assets/img/preorder/character/sp_btn_on.png");
        }
      }

      &.type1 {
        background-position: 0 0;
        color: #fff;
      }

      &.type2 {
        background-position: 0 (-126*0.5*2)+px;
        height: (114*0.5)+px;
        line-height: (114*0.5)-3+px;
        color: #ffecaf;

        @include bp(pc) {
          background-position: 0 (-110*2)+px;
          width: 226px;
          height: 84px;
          font-size: 18px;
        }
      }
    }
  }

  .box {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    width: (640*0.5)+px;
    height: (354*0.5)+px;
    margin: -90px auto 20px;

    background-image: url("assets/img/preorder/character/bg_box_m.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include bp(tablet) {
      width: (676*0.7)+px;
      height: (244*0.7)+px;
      margin-top: (-50*0.7)+px;
      margin-bottom: (25*0.7)+px;
      background-image: url("assets/img/preorder/character/bg_box.png");
    }

    @include bp(pc) {
      width: 676px;
      height: 244px;
      margin-top: -50px;
      margin-bottom: 25px;
    }

    .info-wrap {
      @include flexbox();
      @include align-items(center);
      padding: (50*0.5)+px 0;

      @include bp(pc) {
        padding: 25px 0;
      }

      .info-class {
        @include hide-text();

        display: block;
        width: (92*0.5)+px;
        height: (92*0.5)+px;
        margin-right: (14*0.5)+px;
        background-image: url("assets/img/preorder/character/sp_class2.png");
        background-repeat: no-repeat;
        background-size: 100% auto;

        @include bp(pc) {
          width: 92px;
          height: 92px;
          margin-right: 14px;
        }

        &.leader, &.game_class8 {
          background-position: 0 0;

          @include bp(pc) {
            background-position: 0 0;
          }
        }
        &.knight, &.game_class1 {
          background-position: 0 (-92*0.5)+px;

          @include bp(pc) {
            background-position: 0 -92px;
          }
        }
        &.fairy, &.game_class2 {
          background-position: 0 (-92*0.5*2)+px;

          @include bp(pc) {
            background-position: 0 (-92*2)+px;
          }
        }
        &.wizard, &.game_class3 {
          background-position: 0 (-92*0.5*3)+px;

          @include bp(pc) {
            background-position: 0 (-92*3)+px;
          }
        }
      }
      .user-info {
        overflow: hidden;
        text-align: left;
      }
    }

    .user-name {
      font-size: (42*0.5)+1+px;
      font-weight: normal;
      color: #fff;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, .2);

      @include bp(pc) {
        font-size: 32px;
      }
    }

    .user-detail {
      font-size: (28*0.5)+1+px;
      letter-spacing: -0.5px;

      @include bp(pc) {
        font-size: 20px;
      }

      span {
        &:first-child:before {
          display: none;
        }
        &:before {
          display: inline-block;
          margin: 0 4px;
          content: '\00b7';
        }
      }
    }
  }

  .share-wrap {
    display: block;
    width: 100%;
    background: url("assets/img/preorder/character/bg_share_top_m.png") no-repeat 50% 0;
    background-size: auto 1px;
    padding: (10*0.5)+px 0;

    @include bp(pc) {
      padding: 10px 0;
      background-image: url("assets/img/preorder/character/bg_share_top.png");
    }

    .share-close {
      display: none;
    }

    a {
      @include hide-text();

      display: inline-block;
      width: (84*0.5)+px;
      height: (84*0.5)+px;
      background-image: url("assets/img/preorder/character/sp_share_m.png");
      background-repeat: no-repeat;
      background-size: (84*0.5)+px auto;
      margin: 0 (13*0.5)+px;
      cursor: pointer;

      &:after {
        display: inline-block;
        content: '';
      }
    }

    .share-facebook {
      background-position: 0 0;
    }

    .share-twitter {
      background-position: 0 (-84*0.5)+px;
    }

    .share-kakaostory {
      background-position: 0 (-84*0.5*2)+px;

    }

    .share-kakaotalk {
      background-position: 0 (-84*0.5*3)+px;
    }
  }
}

.pc .jumbotron {
  .share-wrap {
    .share-kakaotalk {
      display: none;
    }
  }
}
