.tab {
  @include pie-clearfix();

  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &-item {
    position: relative;
    display: block;
    float: left;
  }

  &-content {
    display: none;

    &.is-active{
      display: block;
    }
  }
}

.step-tab {
  margin: 5px 0 0;

  @include bp(tablet) {
    margin: 37px 0 -10px;
  }

  .tab-item {
    width: 50%;

    &.is-active {
      .step1 {
        background-position: 0 (-52*0.6)+px;
      }

      .step2 {
        background-position: 0 (-156*0.6)+px;
      }

      .link {
        &:after {
          background-position: 50% 0;
        }
      }

      @include bp(pc) {
        .step1 {
          background-position: 0 -52px;
        }

        .step2 {
          background-position: 0 -156px;
        }

        .link {
          &:after {
            background-position: 50% 0;
          }
        }
      }
    }
  }

  .link {
    display: block;
    padding-bottom: 22px;

    @include bp(pc) {
      padding-bottom: 23px;
    }

    &:after {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: (44*0.5) + px;
      background-image: url("assets/img/preorder/character/sp_step_bg_m.png");
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: (640*0.5)+px (88*0.5)+px;
      content: '';

      @include bp(tablet) {
        height: 30px;
        background-image: url("assets/img/preorder/character/sp_step_bg.png");
        background-size: 540px 60px;
      }
    }
  }

  .step-text {
    @include hide-text();

    display: block;
    width: (226*0.6)+px;
    height: (52*0.6)+px;
    margin: 0 auto;
    background-image: url("assets/img/preorder/character/sp_step_text.png");
    background-repeat: no-repeat;
    background-size: (226*0.6)+px (208*0.6)+px;

    &.step1 {
      background-position: 0 0;
    }

    &.step2 {
      background-position: 0 (-104*0.6)+px
    }

    @include bp(pc) {
      width: 226px;
      height: 52px;
      background-size: 226px 208px;

      &.step1 {
        background-position: 0 0;
      }

      &.step2 {
        background-position: 0 -104px;
      }
    }
  }
}
