// 레이아웃을 타는 에러페이지 (404)
//-------------------------

.page-error {

}

.error-contents {
    padding: 70px 20px 100px 20px;
    text-align: center;

    @include bp(pc) {
        padding-top: 100px;
    }

    .title {
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.38;
        text-align: center;
        color: #1f1f1f;
        letter-spacing: -1px;

        .service-name {
            color: #ceab90;
        }

        @include bp(pc) {
            font-size: 26px;
            line-height: 1.4;
            letter-spacing: -1.4px;
        }
    }

    .subcopy {
        margin: 0;
        font-size: 14px;

        @include bp(pc) {
            font-size: 16px;
        }
    }

    .error-btn-wrap {
        margin: 29px auto 0 auto;

        @include bp(pc) {
            margin-top: 52px;
        }
    }

    button.btn-error,
    a.btn-error,
    .btn-error {
        display: inline-block;
        padding: 0 24px;
        margin: 0 1px;
        min-width: 112px;
        height: 37px;
        line-height: 35px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        border-radius: 100px;
        border: 1px solid #ceab90;
        color: #ceab90;

        &:hover {
            color: #c69c7c;
            border-color: #bd8e6c;
        }

        &--o {
            background-color: #c69c7c;
            border: 0 none;
            color: #fff;

            &:hover {
                color: #fff;
                background-color: #bd8e6c;
                border: 0 none;
            }
        }

        @include bp(pc) {
            min-width: 180px;
            height: 63px;
            padding: 0 33px;
            margin: 0 3px;
            font-size: 15px;
            line-height: 61px;
        }
    }
}
