.ly-board {
    z-index: 100020;

    .title {
        margin: 0;
        padding-bottom: 8px;
        font-size: 24px;
        letter-spacing: -1px;
        font-weight: normal;
    }

    .thumb {
        img {
          width: 100%;
        }
    }

    .ly-contents-center{
        text-align: center;

        .btn {
            margin-top: 17px;
            height: 45px;
            padding: 0 20px;
            color: #fff;
            font-size: 15px;
            letter-spacing: -.5px;
            background-color: #bc8d5d;
            border-radius: 2px;

            &-large{
                min-width: 115px;
            }
        }
    }

    .subcopy-text  {
        padding-top: 5px;
        font-size: 15px;
        letter-spacing: -.5px;
        color: #545454;
    }

    .btn-ly-check-complete {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .btn-confirm-attendance {
        min-width: 115px;
    }
}