.page-board-magazine {

    .board-top-utils,
    .board-search {
        display: none;
    }

    // css 재정의
    .board-top-utils + .share {
        height: 0;
        border: 0;
        overflow: hidden;

        .share-list:after { display: block; }

        .share-list a {
            border: 0 !important;
            border-radius: 0 !important;
            margin: 25px 25px 0  0 !important;
        }

        a:after { display: none; }

        .share-close {
            display: block;
        }

        .share.active .share-dimmed,
        .share.active .share-list {
            z-index: 11;
        }
    }

    .magazine-header {
        margin-top: 30px;
        text-align: center;

        @include bp(pc) {
            text-align: right;
            margin-bottom: -5px;
        }

        .btn-rk-facebook {
            display: inline-block;
            height: 29px;
            line-height: 29px;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            color: #1f1f1f;

            @include bp(bp) { font-size: 16px; }

            .fe-icon-fb {
                width: 29px;
                height: 29px;
                vertical-align: middle;
                //margin-top: -2px;
                margin-right: 11px;
                opacity: 1;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 29px;
                    height: 29px;
                    background: url('assets/img/icon/magazine_fb.png') no-repeat 0 0;
                    background-size: 29px auto;
                }
            }



            &:after {
                content: '';
                display: inline-block;
                width: 12px;
                height: 13px;
                margin-left: 10px;
                margin-top: -2px;
                background: url('assets/img/icon/magazine_fb.png') no-repeat 0 -44px;
                background-size: 29px auto;
                vertical-align: middle;
            }

            &:hover {
                color: #32599d;

                &:after {
                    background-position: 0 (-144px/2);
                }
            }
        }
    }

    .board-list-card {
        li {
            height: 404px;
            margin-bottom: 50px;
        }

        .board-items-contents {
            height: 357px;
            padding-top: 51px;
        }

        .title {
            display: none;
        }

        .desc {
            color: #000;

            a {
                @include line-clamp(5, 1.5);
                color: #000;
            }
        }

        .thumb {
            height: 168px;
        }

    }

    .board-items-footer {
        position: static;

        .info {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-width: 100%;
            padding-right: 20px;
            height: 36px;
            line-height: 36px;
            background-color: #32599d;
        }

        .writer {
            display: none;
        }

        .date {
            display: block;
            font-size: 12px;
            text-align: right;
            color: #fff;
        }

        .count {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 12px;
            min-height: 26px;
            padding-right: 20px;
            text-align: right;
        }

        .fe-icon-like {
            width: 16px;
            height: 16px;
            background: none;
            opacity: 1;
            &:before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url('assets/img/icon/magazine_like.png') no-repeat 0 0;
                background-size: 16px auto;
            }
        }

        .fe-icon-comment {
            margin-top: 2px;
        }

        .co-btn-share {
            position: absolute;
            left: 20px;
            top: 50%;
            width: 25px;
            margin-top: -5px;
        }

    }

}
