body { background-color: #000; }

.bg-intro {
    z-index: -1;
    position: fixed;
    //position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#bgMovie {
    //display: none;
    position: fixed;
    //position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mobile {
    #bgMovie {
        left: -150px;
    }
}

@media (orientation: landscape) {
    .mobile #bgMovie {
        left: 0;
    }
}