.section-share {
    background-color: #000;

    .wrap-contents {
        @include pie-clearfix;
        padding-top: 25px;
    }
}


.bonus-share {
    position: relative;
    width: 260px;
    margin: 0 auto;

    dl {
        margin: 0;
    }

    dt {
        margin: 0;
        font-size: 16px;
        color: #865327;
    }

    dd {
        margin: 0;
        padding-top: 10px;
        font-size: 13px;
        line-height: 16px;
        color: rgba(#fff, .4);
    }

    .reward {
        padding-top: 5px;
        color: rgba(#cc854f, .4);
    }

    .visual {
        width: (407px/2);
        height: (371px/2);
        margin: 0 auto;
        background-image: url(assets/img/main/sns_reward_m.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.sns-list {
    @include pie-clearfix;
    margin: 12px 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.sns-items {
    display: inline-block;
    width: 42px;
    height: 40px;
    margin: 0 2.5px;
    background-image: url(assets/img/main/sns_share_m.png);
    background-repeat: no-repeat;
    background-size: auto 100%;

    &-facebook {
        background-position: 0 0;
    }

    &-twitter {
        background-position: -45px 0;
    }

    &-kakaostory {
        background-position: -90px 0;
    }

    &-kakao {
        display: none;
        background-position: -135px 0;
    }

    .btn {
        @include hide-text;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.wrap-event {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba(#fff, .08);
    text-align: center;

    .btn {
        display: inline;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        text-decoration: none;
        background: transparent;
        cursor: pointer;
        overflow: hidden;
        width: 273px;
        height: 55px;
        border: 1px solid #434649;
        font-size: 16px;
        line-height: 55px;
        transition: all .3s;
        color: rgba(255,255,255,0.3);

        &:hover {
            border-color: rgba(#fff, .5);
            color: rgba(#fff, .5);
        }
    }
}

@include bp(tablet) {
    .bonus-share {
        width: 81.25%;
        max-width: 780px;

        dt {
            font-size: 28px;
        }

        dd {
            padding-top: 12px;
            font-size: 16px;
            line-height: 22px;
        }

        .reward {
            font-size: 14px;
        }

        .visual {
            position: absolute;
            right: -60px;
            bottom: -23px;
            width: 281px;
            height: 252px;
            //background-image: url(assets/img/main/sns_reward.png);
        }
    }

    .sns-list {
        width: 100%;
        margin-top: 36px;
        text-align: left;
    }

    .sns-items {
        width: 61px;
        height: 60px;
        background-image: url(assets/img/main/sns_share.png);

        &-facebook {
            background-position: 0 0;
        }

        &-twitter {
            background-position: -64px 0;
        }

        &-kakaostory {
            background-position: -128px 0;
        }

        &-kakao {
            background-position: -192px 0;
        }
    }

    .wrap-event {
        margin-top: 65px;

        .btn {
            width: 210px;
            height: 57px;
            padding: 0 0;
            font-size: 14px;
        }
    }
}


.br-mobile-only {
    display: block;
}

@include bp(pc) {
    .section-share {
        padding-top: 50px;

        .wrap-contents {
            min-height: auto !important;
            padding-top: 0 !important; ;
        }
    }

    .br-mobile-only {
        display: none;
    }
}

// 이벤트 유의사항 본문
#lyNotice {
    p {
        text-indent: -20px;
        padding-left: 16px;
        line-height:1.5em;
        color: rgba(158,125,87,1);
    }
}

// pc에서 카카오톡 미노출
.mobile .sns-items-kakao,
.tablet .sns-items-kakao {
    display: inline-block;
}
