.powerbook-dic-search-result {
    //display: none;
    margin-top: -6px;
    padding: 14px 15px 12px 15px;
    color: #747880;
    font-size: 13px;
    line-height: 1.4;
    border-bottom: 1px solid #efefef;
    background-color: #f4f4f4;

    @include bp(pc) {
        margin-top: 0;
        padding: 20px 20px 15px 20px;
        font-size: 14px;
        letter-spacing: -1px;
        background-color: transparent;
    }

    strong {
        font-weight: normal;
        color: #bd8d5d;
    }

    .keyword {
        font-style: normal;
    }

    .btn-search-result-close {
        float: right;
        font-size: 13px;
        color: #8c919a;
        text-decoration: underline;
    }
}

.powerbook-dic-search-wrap {
    .btn-search {
        position: absolute;
        bottom: 19px;
        right: 0;
        width: 17px;
        height: 17px;
        margin-right: 15px;
        background: url('assets/img/powerbook/dic/btn_search.png') no-repeat;
        background-size: 17px auto;
        @include hide-text();

        &.is-active {
            background-image: url('assets/img/powerbook/dic/btn_search_active.png');
        }

        @include bp(pc) {
            display: none;
            bottom: 36px;
            right: 20px;
        }
    }
}

.powerbook-dic-search-input {
    display: none;
    margin-top: -6px;

    @include bp(pc) {
        display: block;
    }

    form {
        width: 100%;
        margin: 0;
        padding: 0;
        background: #fff;

        @include bp(pc) {
            display: block;
        }

        .input-wrap {
            position: relative;
            z-index: 9;
            width: 100%;
            height: 48px;
            background-color: #fafafa;
            border-bottom: 1px solid #d9b17e;

            @include bp(pc) {
                float: right;
                width: 280px;
                height: 36px;
                margin-right: 20px;
                margin-top: -34px;
                //padding-right: 40px;
                padding-right: 55px;
                background-color: rgba(#fff, .5);
                border: 1px solid #efefef;
            }

            input[type=text],
            input[type=search]{
                width: 100%;
                height: 100%;
                padding: 0 40px 0 15px;
                font-size: 15px;
                letter-spacing: -.5px;
                color: #000;
                border: 0 none;
                background-color: transparent;

                &::-ms-clear { display: none; }

                @include bp(pc) {
                    padding-right: 0;
                }
            }

            input[type=search]{ -webkit-appearance: none; outline: 0; }

            .btn-search {
                display: none;
                position: absolute;
                top: 15px;
                right: 15px;
                width: 17px;
                height: 17px;
                background-image: url('assets/img/powerbook/dic/btn_search.png');
                background-size: 17px auto;
                @include hide-text();

                @include bp(pc) {
                    display: block;
                    top: 10px;
                    right: 10px;
                }
            }

            .btn-search-reset {
                display: none;
                position: absolute;
                top: 18px;
                right: 15px;
                width: 15px;
                height: 15px;
                background-size: 14px auto;
                background-image: url('assets/img/powerbook/dic/btn_search_reset.png');
                background-repeat: no-repeat;
                @include hide-text();

                @include bp(pc) {
                    top: 10px;
                    //right: 10px;
                    right: 33px;
                }
            }
        }

        .btn-cancel {
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 13px;
            font-weight: 300;
            color: #686868;
            line-height: 1;
            border: 0 none;
            background: none;
            vertical-align: middle;

            @include bp(pc) {
                display: none;
            }
        }
    }

    &.is-search {
        display: block;
    }
}

// 검색 결과 없을 때
.powerbook-dic-list-none {
    padding: 30px 0 30px 15px;
    letter-spacing: -1px;

    @include bp(pc) {
        padding-left: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: left;

        li {
            position: relative;
            padding-left: 10px;
            padding-bottom: 10px;
            list-style-type: none;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.3;
            text-align: left;
            color: #484b51;

            &:before {
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                display: inline-block;
                width: 3px;
                height: 3px;
                background-color: #8c919a;
                border-radius: 50%;
                vertical-align: middle;
            }
        }
    }
}
