// 오늘의 파워북

.section-today {
    margin-top: 28px;
    padding: 24px 17px 30px;
    background-color: #f4f5f7;

    .today-items {
        margin: 0 3px;

        img {
            max-width: 100%;
        }

        .title {
            padding-top: 9px;
            text-align: center;
            font-size: 12px;
            line-height: 1.17;
        }
    }

    @include bp(tablet) {
        margin-top: 70px;
        padding: 50px 0 38px 0;

        .today-items {
            margin: 0 10px;

            .title {
                padding-top: 19px;
                font-size: 15px;

                br {
                    display: none;
                }
            }
        }
    }
}