.bg-movie-wrap {
  z-index: -1;
  //position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: url("assets/img/preorder/bg_poster.jpg") no-repeat 35% 0;
  background-size: cover;

  @include bp(pc) {
    background-image: url("assets/img/preorder/bg_poster_m.jpg");
    background-position: 50% 0;
  }
}

.bg-movie {
  overflow: hidden;
  position: absolute;
  //position: fixed;
  left: -150px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: left 700ms cubic-bezier(0.77,0,0.175,1);
  transition: left 700ms cubic-bezier(0.77,0,0.175,1);
  background-color: #000;
}

@include bp(pc){
  .section-preorder .fp-slidesContainer{
    -webkit-transition: all  1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) !important;
    transition: all  1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) !important;
  }

  .narrow .section-preorder .fp-slidesContainer{
    -webkit-transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000) !important;
    transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000) !important;
  }

  .narrow .bg-movie{
    left: -700px;
  }

  .bg-movie{
    left: 0;
  }
}
