.loading-page {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
  background: #0d0d0d;

  .counter {
    position: relative;
    width: 323px;
    text-align: center;

    p {
      font-size: 40px;
      font-weight: 100;
      color: #f60d54;
    }

    h1 {
      color: #835e48;
      font-size: 16px;

      &.abs {
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    hr {
      background: #835e48;
      border: none;
      height: 1px;
    }
  }

  .color {
    width: 0;
    overflow: hidden;
    color: #f60d54;
  }

  .logo {
    @include hide-text();

    width: 144px;
    height: 33px;
    margin: 0 auto;
    background: url("assets/img/preorder/logo_s.png") no-repeat 0 0;
    background-size: cover;

    @include bp(pc) {
      width: 288px;
      height: 67px;
    }
  }

  .logo2 {
    @include hide-text();

    width: 62px;
    height: 11px;
    margin: 0 auto;
    background: url("assets/img/preorder/loading_logo2.png") no-repeat 0 0;
    background-size: cover;

    @include bp(pc) {
      width: 125px;
      height: 23px;
    }
  }
}

.loading-landscape-mode {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
  background: #000;
  text-align: center;
  font-size: (24*0.6)+px;
  letter-spacing: -0.25px;

  .thumb {
    display: inline-block;
    width: (104*0.5)+px;
    height: (122*0.5)+px;
    margin: 0 auto;
    background: url("assets/img/preorder/img_landscape.png") no-repeat 0 0;
    background-size: cover;
  }

  .desc {
    margin: 15px 0 0;
    color: #fff;
  }


  .desc2 {
    margin: 8px 0 0;
    color: #ff670b;
  }
}

.mobile .loading-landscape-mode {
  @media (orientation: landscape) {
    opacity: 1;
    z-index: 200;
  }

  @include bp(pc) {
    z-index: -1;
    opacity: 0;
  }
}
