// pointshop_list
// ===============================

.pointshop-list-wrap {
    @include clearfix();
}

.pointshop-list {
    width: percentage(580/640);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    @include bp(pc) {
        width: 100%;
    }
}

.pointshop-items {
    position: relative;
    z-index: 1;
    float: left;
    width: percentage(280/580);
    height: (380px/2);
    margin-right: percentage(20/580);
    margin-bottom: percentage(20/580);
    text-align: center;
    border: solid 1px #ededed;

    &:nth-child(2n) { margin-right: 0; }

    @include bp(tablet) {
        width: percentage(180/580);
        margin-right: percentage(20/580);
        margin-bottom: percentage(20/580);

        &:nth-child(2n) { margin-right: percentage(20/580); }
        &:nth-child(3n) { margin-right: 0; }
    }

    @include bp(pc) {
        width: percentage(294/1260);
        height: 374px;
        margin-right: percentage(28/1260);
        margin-bottom: percentage(28/1260);

        &:nth-child(2n),
        &:nth-child(3n) { margin-right: percentage(28/1260); }
        &:nth-child(4n) { margin-right: 0; }
    }

    .thumb-wrap {
        position: relative;
        display: block;

        .count {
            position: absolute;
            top: 30px;
            left: 50%;
            width: 31px;
            margin-left: 13px;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.15;
            text-align: center;
            color: #fff;

            @include bp(pc) {
                top: 29%;
                width: percentage(60/294);
                margin-left: 9.5%;
                font-size: 20px;
                @include transition(all, .3s);
            }

            @include bp(max) {
                font-size: 26px;
            }
        }
    }

    .thumb {
        width: 100%;
        max-width: 100px;
        height: auto;
        margin-top: 10px;
        vertical-align: top;

        @include bp(pc) {
            max-width: 200px;
            margin-top: 50px;
        }
    }

    .item-name {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.07;
        text-align: center;
        color: #1f1f1f;

        @include bp(pc) {
            margin-top: -10px;
            font-size: 18px;
            letter-spacing: -1px;
        }
    }

    .item-limit {
        margin-top: 4px;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.25;
        text-align: center;
        color: #8a8a8a;

        @include bp(pc) {
            margin-top: 8px;
            font-size: 14px;
        }
    }

    .item-buy {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 36px;
        line-height: 32px;
        padding-right: 50px;
        border-top: solid 1px #ededed;

        @include bp(pc) {
            height: 60px;
            padding-right: 90px;
            line-height: 58px;
        }
    }

    .item-cost {
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #1f1f1f;

        &:before {
            content: '';
            @extend .ic-pointshop-point;
            width: 20px;
            height: 21px;
            margin-right: 3px;
            background-size: 20px auto;
        }

        &.ticket {
            &:before{
                width: 16px;
                height: 20px;
                background-size: 16px auto;
                @extend .ic-pointshop-ticket;
            }
        }

        @include bp(pc) {
            font-size: 20px;

            &:before {
                width: 30px;
                height: 31px;
                margin-right: 8px;
                background-size: 30px auto;
            }

            &.ticket {
                &:before{
                    width: 22px;
                    height: 28px;
                    background-size: 22px auto;
                }
            }

        }
    }

    .btn-point-item-buy {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 100%;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
        background-color: #c5986b;

        &:hover {
            background-color: #b6885b;
        }

        @include bp(pc) {
            width: 90px;
            font-size: 19px;
            letter-spacing: -1px;
        }
    }

    .btn-item-info {
        position: absolute;
        top: 9px;
        right: 9px;
        z-index: 10;
        width: 25px;
        height: 25px;
        @include hide-text();
        background: url('assets/img/minigame/pointshop/ic_info.png') no-repeat;
        background-size: 25px auto;

        @include bp(pc) {
            top: 14px;
            right: 18px;
            width: 36px;
            height: 36px;
            background-size: 36px auto;
        }
    }

    .item-current {
        @include hide-text();
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 36px;
        width: 100%;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #fff;
        letter-spacing: -.7px;
        line-height: 38px;
        background-color: rgba(255,255,255, .5);

        &:after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 32px;
            left: 0;
            background: url("assets/img/minigame/pointshop/ic_buying.png") no-repeat 50% 50%;
            background-size: 50%;
            content: '';
        }

        @include bp(tablet) {
            &:after {
                background-size: 40%;
            }
        }

        @include bp(pc) {
            bottom: 60px;
            background-size: auto;

            &:after {
                bottom: 0;
                background-size: auto;
            }
        }
    }

    &.is-buy {
        .item-current { display: block; }
    }

    .ic-best-product {
        @include hide-text();

        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 45px;
        background: url("assets/img/minigame/pointshop/ic_best_product.png") no-repeat 0 0;
        background-size: cover;

        @include bp(pc) {
            width: 91px;
            height: 91px;
        }
    }
}
