.wrap-footer {
    position: relative;
    z-index: 10;
    margin-top: 50px;
    border-top: 1px solid #efefef;
    //background: url("assets/img/main/bg_footer.png") no-repeat 0 0;
    //background-size:cover;

    .sprites {
        background-image: url('assets/img/layout/footer_default.png');
        background-size: (298px/2) auto;
        background-repeat: no-repeat;
    }

    @include bp(pc) { margin-top: 180px; }
}

.footer {
    max-width: 880px;
    margin: 0 auto;
    padding: 40px 0 55px;
    text-align: center;

    ul { margin: 0; padding: 0; list-style: none; }

    @include bp(pc) {
        padding: 40px 0 75px;
    }

    .footer-communtiy-policy {
        display: inline-block;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: -0.9px;
        text-align: center;
        color: #1f1f1f;

        &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 13px;
            margin: -2px 8px 0 11px;
            vertical-align: middle;
            background-color: #babdc2;
        }

        @include bp(pc) {
            font-size: 16px;
            letter-spacing: -1px;

            &:after {
                margin-top: 0;
            }
        }
    }

    // 국가 선택
    .select-country {
        position: relative;
        margin: 15px auto 0;
        //cursor: pointer; //권역없음

        @include bp(pc) {
            margin-top: 21px;
        }

        &-title {
            display: inline-block;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: -0.9px;
            text-align: center;
            color: #1f1f1f;
            //cursor: pointer; //권역없음
            .current-title { color: #1f1f1f; }

            @include bp(pc) {
                font-size: 16px;
            }
        }

        .icon-country {
            display: inline-block;
            width: 17px;
            height: 17px;
            margin-right: 2px;
            vertical-align: middle;
            @extend .sprites;
            background-position: 0 (-86px/2);
        }

        .icon-country-arrow {
            display: none;
            //display: inline-block; //권역없음
            width: 8px;
            height: 5px;
            margin-left: 4px;
            vertical-align: middle;
            @extend .sprites;
            background-position: 0 (-148px/2);
        }

        &-list {
            //display: none;
            position: absolute;
            z-index: 10;
            overflow: hidden;
            left: 50%;
            width: 180px;
            height: 0;
            margin-top: 10px;
            margin-left: -90px;
            @include transition( all .3s);
        }
        &-items {
            border-top: 1px solid #ceab90;
            text-align: center;
            &:first-child { border: 0; }
            a {
                display: block;
                height: 33px;
                font-size: 14px;
                line-height: 31px;
                color: #fff;
                text-decoration: none;
                background-color: #c69c7c;
                &:hover {
                    color: #fff;
                    background-color: #ceab90;
                }

                @include bp(pc) {
                    font-size: 15px;
                }
            }
        }

        // 레이어 활성화
        &.on .select-country-list { height: 101px; }
    }

    // 풋터 SNS
    &-sns {
        //display: none; // 티저2차

        &-list {
            text-align: center;
            line-height: 1;
        }

        &-items {
            display: inline-block;
            width: 46px;
            height: 46px;
            margin: 0 4px;
            a {
                @include hide-text;
                display: block;
                width: 100%;
                height: 100%;
                outline: 0;
                @extend .sprites;
            }
            &-facebook a {
                background-position: 0 (-188px/2);

                &:hover {
                    background-position: 0 (-310px/2);
                }
            }
        }
    }

    // 풋터 링크
    &-links {
        margin-top: 18px;
        padding: 4px 0 5px;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        font-weight: 350;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.075em;

        @include bp(pc) {
            margin: 0;
            padding: 22px 0 0;
            border: 0;
            font-size: 13px;
        }

        &-list {
            position: relative;

            &-kr {
                .footer-links-items:nth-child(1),
                //.footer-links-items.items5, // 티징2차
                .footer-links-items:nth-child(6) { display: none; }
                .footer-links-items.items2:after { display: none; }
                .items3, .items4 { font-weight: bold; }
            }

            &-tw,
            &-sea {
                .items1 { display: none; }
            }

            @include bp(pc) {
                .footer-links-items { padding: 0 11px; }
                &-kr .footer-links-items:nth-child(n) { display: inline-block; }
                //&-kr .footer-links-items.items5 { display: none; } // 티징2차
                &-tw,
                &-sea {
                    .items1 { display: inline-block; }
                }
            }
        }

        &-items {
            display: inline-block;
            position: relative;
            padding: 0 4px 0 3px;
            color: #8c919a;
            font-size: 12px;
            a { color: #8c919a; text-decoration: none;}
            a:hover { color: #1f1f1f; }

            &.items1:after { display: none; }

            @include bp(pc) {
                font-size: 14px;
            }
        }
    }

    // 카피라이트 영역
    &-copyright {
        @include pie-clearfix;
        margin-top: 3px;
        padding-top: 13px;
        font-size: 11px;
        color: rgba(#8c919a, .6);
        line-height: 1.5;

        .copyright-studio { display: none; }

        a {
            color: #8c919a;
            text-decoration: none;

            &:hover {
                color: #1f1f1f;
            }
        }

        .reserved {
            display: none;

            @include bp(tablet) {
                display: inline;
            }
        }

        @include bp(pc) {
            margin-top: 10px;
            padding-top: 25px;
            font-size: 12px;
            letter-spacing: -0.9px;
            color: rgba(#8c919a, 1);
            border-top: 1px solid #efefef;

            .copyright-studio { display: inline-block; }
            .copyright-company { display: inline-block; }
            .copyright-studio br,
            .copyright-company br { display: none; }
        }
    }

    &-info {
        display: none;

        &-tw {
            display: block;
            dl {
                margin: 0;
                padding: 0;
            }
            dt { text-align: center; }
            dd {
                padding: 0;
                margin: 7px 0 0 0;
            }
            p {
                margin: 0;
                padding: 9;
            }
            img { width: 45px; height: 45px; }
        }

        @include bp(pc) {
            display: block;
        }
    }

    &-logo {
        display: none;
        margin-top: 19px;
        height: 29px;
        @include hide-text();
        @extend .sprites;
        background-position: center 0;

        a { display: none; }

        @include bp(pc) {
            display: block;
        }
    }

    // 권역별 분기
    &-tw {
        @include bp(pc) {
            .footer-copyright { text-align: left; }
        }
    }

}

@include bp(pc) {
    .footer-info-tw {
        float: right;
        margin: 0;
        text-align: right;
        dt {
            float: right;
            img { margin-top: 4px; }
        }
        dd {
            float: right;
            margin: 0;
        }
    }
}

.tw {
    @include bp(pc){
        .footer {
            .footer-copyright { text-align: left; }
            .footer-copyright .copyright-studio br { display: block; }
        }
    }
}

// main footer
// ----------------
.page-main {
    .wrap-footer {
        margin-top: 0;
        border: 0 none;
       // background: url("assets/img/main/bg_footer.png") no-repeat 0 0;
        background-size:cover;

        .sprites { background-image: url('assets/img/layout/footer_main.png'); }
    }

    .footer {

        @include bp(pc) {
            padding-top: 96px;
            padding-bottom: 170px;
        }
        .select-country {
            .footer-communtiy-policy,
            .footer-communtiy-policy a,
            &-title,
            .current-title { color: #fff; text-decoration: none; }
        }

        .footer-communtiy-policy:after { background-color: #49494c; }
        .footer-links { border-color: #49494c; }

        .footer-links-items { padding: 0 4px 0 3px; }
        @include bp(pc) {
            .footer-links-list-kr .footer-links-items { padding: 0 11px; }
        }
        .footer-links-items a {
            color: rgba(#fff, .6);
            &:hover { color: rgba(#fff, 1); }
        }

        .footer-copyright {
            border-color: #49494c;
            color: rgba(#fff, .4);

            a {
                color: rgba(#fff, .4);
                &:hover { color: rgba(#fff, 1); }
            }
        }
    }
}

.index-container {
    .wrap-footer {
        padding-bottom: 60px;
        color: rgba(#777c83, .5);
        font-size: 12px;
        text-align: center;
    }
}
