// 섹션별 배경 이미지
.section-media {
  .sc-bg{
    background-image: url("assets/img/preorder/bg_media_m.jpg");

    @include bp(pc) {
      background-image: url("assets/img/preorder/bg_media.jpg");
    }
  }
}

.section-minigame {
  .sc-bg {
    background-image: url("assets/img/preorder/bg_minigame_m.jpg");

    @include bp(pc) {
      background-image: url("assets/img/preorder/bg_minigame.jpg");
      background-position: center top;
    }
  }
}

.section-introduce {
  .sc-bg {
    background-image: url("assets/img/preorder/bg_introduce_m.jpg");

    @include bp(pc) {
      background-image: url("assets/img/preorder/bg_introduce.jpg");
    }
  }
}

//.page-visual.minigame {
//  background-image: url("assets/img/preorder/bg_minigame_visual_m.jpg");
//  background-color: #000;
//
//  @include bp(pc) {
//    background-image: url("assets/img/preorder/bg_minigame_visual.jpg");
//    background-size: auto 100%;
//  }
//}


.section-character {
    .sc-bg {
        background-image: url("assets/img/preorder/bg_character_m.jpg");

        @include bp(pc) {
            background-image: url("assets/img/preorder/bg_character.jpg");
            background-position: center top;
        }
    }
}

.section-guild {
    .sc-bg {
        background-image: url("assets/img/preorder/bg_guild_m.jpg");

        @include bp(pc) {
            background-image: url("assets/img/preorder/bg_guild.jpg");
            background-position: center top;
        }
    }
}
