.guild-admin-prev-wrap {
    height: 50px;
    margin-top: -20px;
    padding: 13px 0 0 14px;
    border-bottom: solid 1px #e3e3e3;

    a {
        font-size: 15px;
        color: #000;

        &:before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 1px;
            background: url('assets/img/my/guild/arrow_guild_home.png') no-repeat center top;
            background-size: auto 15px;
            vertical-align: top;
        }
    }

    @include bp(pc) {
        height: 60px;
        margin-top: -55px;
        padding-top: 17px;
        padding-left: 0;
        border-color: #efefef;

        a {
            font-size: 16px;
            letter-spacing: -.7px;

            &:before {
                width: 9px;
                height: 16px;
                margin-right: 6px;
                margin-top: -2px;
                background-size: auto 16px;
                vertical-align: middle;
            }
        }
    }
}

.guild-info-header-wrap {
    width: 100%;

    h1 { display: none; }
}

.guild-info-header {
    position: relative;
    //min-height: 135px;
    min-height: 140px;
    padding: 30px 15px 30px 15px;
    text-align: center;
    border-bottom: 1px solid #e1e1e5;

    @include bp(pc) {
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 0 none;
    }

    //.thumb-wrap {
    //    position: relative;
    //    display: inline-block;
    //    width: 50px;
    //    height: 50px;
    //    border-radius: 50%;
    //    overflow: hidden;
    //
    //    img {
    //        position: absolute;
    //        left: 50%;
    //        top: 50%;
    //        display:inline-block;
    //        width: auto;
    //        max-width: none;
    //        height: 100%;
    //        transform: translate(-50%, -50%);
    //    }
    //}

    .guild-title {
        margin: 0;
        font-size: 16px;

        .server {
            font-weight: 400;
            line-height: 1;
            color: #797e88;
        }

        .guild {
            font-weight: 400;
            line-height: 1;

            &:before {
                content: '';
                display: inline-block;
                width: 2px;
                height: 2px;
                margin-right: 6px;
                margin-left: 2px;
                background-color: #8c919a;
                vertical-align: middle;
                border-radius: 50%;
            }
        }

        .person {
            font-weight: 300;
            color: #8c919a;
        }

        @include bp(pc) {
            font-size: 21px;
            letter-spacing: -1px;
        }
    }

    .intro {
        margin-top: 7px;
        color: #8c919a;
        font-size: 14px;

        @include bp(pc) {
            margin-top: 7px;
            font-size: 15px;
            letter-spacing: -.7px;
        }
    }

    .btn-wrap {
        margin-top: 15px;

        .btn-guild-modify-intro {
            @extend .btn-guild-type2;
        }

        .btn-guild-exit {
            @extend .btn-guild-type1;
        }

        @include bp(pc) {
            margin-top: 20px;

            //.btn { margin: 0 4px; }
        }
    }
}
//
//.guild-info-tab {
//    display: table;
//    width: 100%;
//    height: 35px;
//    //margin-top: 19px;
//    border-top: solid 1px #e1e1e5;
//    border-bottom: solid 1px #e1e1e5;
//    @include clearfix();
//
//    a {
//        //float: left;
//        display: table-cell;
//        width: 50%;
//        height: 100%;
//        font-size: 13px;
//        //color: #fff;
//        line-height: 14px;
//        text-align: center;
//        vertical-align: middle;
//        cursor: pointer;
//
//        .count {
//            color: #d89f75;
//            font-style: normal;
//        }
//
//        &.is-selected {
//            color: #1f1f1f;
//            background-color: #fff;
//        }
//    }
//}
//
//.guild-member-count {
//    padding: 10px 16px 12px 16px;
//    font-size: 15px;
//    border-bottom: 1px solid #f4f5f7;
//
//    .count {
//        color: #b6885b;
//        font-style: normal;
//    }
//}

// 혈맹원목록 탭 재선언
.tab-guild-member {
    margin-top: 0;

    .depth3-list { width: 100%; padding-right: 0; }
    .depth3-list-items { width: 50%; }

    .count {
        font-style: normal;
    }

    @include bp(pc) {
        margin-bottom: 18px;
    }
}


// 즉시가입일때 탭 대신
.guild-member-wating {
    height: 0;

    @include bp(pc) {
        margin-bottom: 0;
        border-bottom: 1px solid #efefef;
    }
}


.guild-info-contents {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    overflow: hidden;
    background-color: #fff;
}

.guild-info-member {
    display: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    h2 {
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: 0;
        @include hide-text();
    }

    .none {
        padding: 50px 0;
        font-size: 16px;
        color: #8c919a;
        text-align: center;

        @include bp(pc) {
            letter-spacing: -.5px;
        }
    }

    &.is-selected {
        display: block;
    }

    .leader,
    [class^="btn-"] {
        display: inline-block;
        //padding: 2px 10px 4px 10px;
        min-width: 44px;
        height: 22px;
        padding: 0 10px;
        line-height: 18px;
        font-size: 13px;
        color: #bc8d5d;
        font-weight: 500;
        text-align: center;
        border-radius: 11px;
        @include ellipsis();
        border: solid 1px #bc8d5d;
        background-color: transparent;

        @include bp(pc) {
            padding: 0 15px;
        }
    }

    .leader {
        color: #7c0100;
        border-color: #7c0100;
        cursor: default;

        @include bp(pc) {
            padding: 0 10px;
        }
    }
}
