// 혈맹원 목록 (가입신청 목록 포함)
.guild-member-list {
    position: relative;
    margin: 0 18px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    @include clearfix;

    @include bp(pc) {
        margin: 0;

        &:after {
            width: 100%;
            height: 0;
            @include hide-text();
            border-bottom: 1px solid #f4f5f7;
        }
    }

    .guild-member-items {
        display: table;
        width: 100%;
        padding: 15px 0 10px 0;
        position: relative;
        border-bottom: 1px solid #f4f5f7;

        @include bp(pc) {
            width: 50%;
            padding: 12px 5px 12px 24px;
            margin-bottom: -1px;
            float: left;
        }

        @include bp(max) {
            width: 33.333333%;
        }

        .thumb-wrap {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            padding-right: 12px;
            width: 50px;
            height: 50px;
            box-sizing: content-box;
            overflow: visible;

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 50px;
                height: 50px;
                margin-right: 9px;
                border-radius: 50%;
            }

            @include bp(pc) {
                width: 74px;
                height: 74px;

                img {
                    width: 74px;
                    height: 74px;
                }
            }
        }

        .member-info {
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
            color: #000;

            @include bp(pc) {
                display: inline-block;
                margin-top: 28px;
            }
        }

        .nickname {
            line-height: 1.08;
            word-break: break-all;
        }

        .class {
            &:before {
                content: '';
                display: inline-block;
                width: 2px;
                height: 2px;
                margin-right: 6px;
                margin-left: 2px;
                background-color: #747880;
                vertical-align: middle;
                border-radius: 50%;
            }
        }

        .date {
            display: block;
            color: #8c919a;
            font-size: 14px;
        }

        .grade {
            position: absolute;
            right: 0;
            top: 50%;
            display: inline-block;
            height: 22px;
            padding: 0 11px;
            margin-top: -11px;
            font-size: 13px;
            line-height: 22px;
            color: #a2a8b2;
            border-radius: 11px;
            border: 1px solid #c7c7cc;

            &-leader {
                color: #7c0100;
                border: 1px solid #7c0100;
            }

            @include bp(pc) {
                position: static;
                line-height: 18px;
                margin-top: -1px;
            }
        }

        .btns-wrap {
            display: table-cell;
            padding-left: 10px;
            vertical-align: middle;
            text-align: right;
            @include ellipsis();

            .btn-refusal {
                color: #8c919a;
                border-color: #8c919a;
            }

            @include bp(pc) {
                display: inline-block;
                margin-top: 29px;
                vertical-align: middle;
            }
        }
        //.btn-modify {
        //    display: inline-block;
        //}
    }
}

// 혈맹 관리 > 혈맹원 목록 재선언
.guild-info-member {
    &.wating {
        @include bp(pc) {
            .guild-member-list .guild-member-items { width: 50%; }
            .guild-member-list .guild-member-items .member-info { margin-top: 18px; }
            .guild-member-list .guild-member-items .btns-wrap { margin-top: 4px; }
        }
    }
}

// 내혈맹 > 혈맹원 목록 재선언
.my-guild-member-list-wrap {
    @include bp(pc) {
        .guild-member-list .guild-member-items { width: 50%; }
    }
}