// profile
// ===============================

// 타인의 계정 프로필
.profile-box {
    width: 100%;
    padding: 25px 0 26px 0;
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #f4f5f7;

    @include bp(pc) {
        height: 120px;
        padding: 20px 0;
        margin-top: 0;
        margin-bottom: 40px;

        .pc-wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            //flex-flow: row wrap;
            //width: 335px;
            height: 80px;
            margin: 0 auto;
            //padding: 0 0 0 100px;
            text-align: left;
            line-height: 18px;
        }
    }

    .thumb-wrap {
        display: inline-block;
        .thumb {
            width: (170px/2);
            height: (170px/2);
            border-radius: 50%;
        }

        @include bp(pc) {
            //position: absolute;
            //left: 0;
            //top: 0;
            margin-right: 20px;

            .thumb {
                width: 80px;
                height: 80px;
            }
        }
    }

    .character {
        display: block;
        margin-top: 9px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        color: #1f1f1f;

        .name {
            font-weight: normal;
        }

        @include bp(pc) {
            margin-top: 0;
            vertical-align: middle;
            font-size: 16px;
            letter-spacing: -.7px;
        }
    }

    .server-guild {
        margin-top: -1px;
        font-size: 13px;

        .server {
            font-weight: normal;
            font-style: normal;
            color: #a2a8b2;
        }

        .guild {
            font-weight: normal;
            font-style: normal;
            color: #c5986b;

            &:before {
                content: '';
                display: inline-block;
                width: 2px;
                height: 2px;
                margin-right: 6px;
                margin-left: 3px;
                background-color: #a2a8b2;
                vertical-align: middle;
                border-radius: 50%;
            }
        }

        @include bp(pc) {
            //margin-top: -34px;
            margin-left: 15px;
            font-size: 14px;
            letter-spacing: -.6px;
        }
    }
}