.section-character .section-contents {
  padding-left: 0;
  padding-right: 0;
  font-size: (26*0.5)+1+px;
  letter-spacing: -0.5px;
  color: #b87930;

  @include bp(pc) {
    font-size: 16px;
  }

  .section-title {
    width: (619/2)+px;
    height: (196/2)+px;
    background-image: url("assets/img/preorder/title_character_m.png");

    @include bp(pc) {
      width: 657px;
      height: 188px;
      background-image: url("assets/img/preorder/title_character.png");
    }
  }

  .sub-copy {
    @include hide-text();

    width: (617*0.5)+px;
    height: (45*0.5)+px;
    background: url("assets/img/preorder/txt_subcopy_character_m.png") no-repeat 0 0;
    background-size: cover;
    margin: 25px auto 0;

    @include bp(pc) {
      width: 491px;
      height: 45px;
      margin-top: 55px;
      background: url("assets/img/preorder/txt_subcopy_character.png") no-repeat 0 0;
    }
  }

  .btn-confirm-join {
    @include hide-text();

    display: block;
    width: (456*0.5)+px;
    height: (139*0.5)+px;
    margin: 0 auto;
    background-image: url("assets/img/preorder/btn_confirm_join_m.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transition: all .3s ease;

    &:hover {
      background-image: url("assets/img/preorder/btn_confirm_join_on_m.png");
    }

    @include bp(pc) {
      background-image: url("assets/img/preorder/btn_confirm_join.png");
      width: 356px;
      height: 112px;

      &:hover {
        background-image: url("assets/img/preorder/btn_confirm_join_on.png");
      }

    }
  }

  .btn-info-server {
    @include hide-text();

    display: block;
    width: (456*0.5)+px;
    height: (139*0.5)+px;
    margin: 0 auto;
    background-image: url("assets/img/preorder/btn_info_server_m.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transition: all .3s ease;

    &:hover {
      background-image: url("assets/img/preorder/btn_info_server_m.png");
    }

    @include bp(pc) {
      background-image: url("assets/img/preorder/btn_info_server.png");
      width: 356px;
      height: 112px;

      &:hover {
        background-image: url("assets/img/preorder/btn_info_server_on.png");
      }

    }

  }

  .desc-list {
    display: inline-block;
    margin: (30*0.5)+px auto;
    padding: 0;
    text-align: left;
    list-style: none;

    @include bp(pc) {
      margin: 20px auto 40px;
    }

    li {
      margin: (15*0.5)+px 0;

      &:before {
        display: inline-block;
        margin-right: (10*0.5)+px;
        content: '\00b7';
      }
    }
  }

  .event-date {
    @include pie-clearfix();
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    margin: (20*0.5)+px 0;

    @include bp(pc) {
      margin: 10px 0 20px;
    }

    dt {
      width: (86*0.5)+px;
      height: (38*0.5)+px;
      line-height: (38*0.5)-2+px;
      margin: 0 (10*0.5)+px 0 0;
      border: 1px solid rgba(151,114,73, 0.6);
      border-radius: 500em;
      font-size: (22*0.5)+1+px;
      color: #d7ab7a;

      @include bp(pc) {
        width: 58px;
        height: 26px;
        margin-right: 10px;
        line-height: 24px;
        font-size: 14px;
      }
    }

    dd {
      margin: 0;
    }
  }

  .bonus-wrap {
    padding-top: (50*0.5)+px;
    background: url("assets/img/preorder/bg_bonus_top_m.png") no-repeat 50% 0;
    background-size: auto 1px;

    @include bp(pc) {
      @include flexbox();
      @include flex-direction(row wrap);
      @include align-items(center);
      @include justify-content(center);

      padding-top: 20px;
      background-image: url("assets/img/preorder/bg_bonus_top.png");
    }

    .title {
      @include hide-text();
      margin: 0 0 5px;
      display: inline-block;
      width: (58*0.7)+px;
      height: (15*0.7)+px;
      margin-right: 5px;
      background: url('assets/img/preorder/txt_bonus.png') no-repeat;
      background-size: cover;
      vertical-align: middle;

      @include bp(pc) {
        width: 58px;
        height: 15px;
        margin: 0 10px 0 0;
      }
    }

    .desc {
      margin: 0;
      line-height: 1.5;

      @include bp(pc) {
        br {
          display: none;
        }
      }
    }

    .link {
      display: inline-block;
      width: (130*0.5)+px;
      height: (48*0.5)+px;
      line-height: (48*0.5)+px;
      margin: (10*0.5)+px;
      background-color: rgba(184,121,48,0.2);
      border-radius: 500em;
      font-size: (24*0.5)+1+px;
      color: #ffe0bd;
      text-decoration: none;

      @include bp(pc) {
        width:78px;
        height: 28px;
        margin-left: 10px;
        font-size: 14px;
        line-height: 28px;
        color: #fff;
      }
    }
  }

  .status-box-wrap {
    @include bp(pc) {
      margin-bottom: 10px;
    }

    .box {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);

      width: (640*0.5)+px;
      height: (354*0.5)+px;
      margin: 0 auto;

      background-image: url("assets/img/preorder/bg_box2_m.png");
      background-repeat: no-repeat;
      background-size: cover;

      @include bp(tablet) {
        width: (676*0.7)+px;
        height: (250*0.7)+px;
        background-image: url("assets/img/preorder/bg_box2.png");
      }

      @include bp(pc) {
        width: 676px;
        height: 244px;
      }

      .info-wrap {
        @include flexbox();
        @include align-items(center);
        padding: (50*0.5)+px 0;

        @include bp(pc) {
          padding: 25px 0;
        }

        .info-class {
          @include hide-text();

          display: block;
          width: (92*0.5)+px;
          height: (92*0.5)+px;
          margin-right: (14*0.5)+px;
          background-image: url("assets/img/preorder/character/sp_class2.png");
          background-repeat: no-repeat;
          background-size: 100% auto;

          @include bp(pc) {
            width: 92px;
            height: 92px;
            margin-right: 14px;
          }

          &.leader, &.game_class8 {
            background-position: 0 0;

            @include bp(pc) {
              background-position: 0 0;
            }
          }
          &.knight, &.game_class1 {
            background-position: 0 (-92*0.5)+px;

            @include bp(pc) {
              background-position: 0 -92px;
            }
          }
          &.fairy, &.game_class2 {
            background-position: 0 (-92*0.5*2)+px;

            @include bp(pc) {
              background-position: 0 (-92*2)+px;
            }
          }
          &.wizard, &.game_class3 {
            background-position: 0 (-92*0.5*3)+px;

            @include bp(pc) {
              background-position: 0 (-92*3)+px;
            }
          }
        }
        .user-info {
          overflow: hidden;
          text-align: left;
        }
      }

      .user-name {
        font-size: (42*0.5)+1+px;
        font-weight: normal;
        color: #fff;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, .2);

        @include bp(pc) {
          font-size: 32px;
        }
      }

      .user-detail {
        font-size: (28*0.5)+1+px;
        letter-spacing: -0.5px;
        color: #000;

        @include bp(pc) {
          font-size: 20px;
        }

        span {
          &:first-child:before {
            display: none;
          }
          &:before {
            display: inline-block;
            margin: 0 4px;
            content: '\00b7';
          }
        }
      }
    }

    .share-wrap {
      display: block;
      width: 100%;
      background: url("assets/img/preorder/character/bg_share_top_m.png") no-repeat 50% 0;
      background-size: auto 1px;
      padding: (10*0.5)+px 0;

      @include bp(pc) {
        padding: 10px 0;
        background-image: url("assets/img/preorder/character/bg_share_top.png");
      }

      .share {
        margin: 0;
        &-close {
          display: none;
        }

        a {
          @include hide-text();

          display: inline-block;
          width: (84*0.5)+px;
          height: (84*0.5)+px;
          background-image: url("assets/img/preorder/character/sp_share_m.png");
          background-repeat: no-repeat;
          background-size: (84*0.5)+px auto;
          margin: 0 (13*0.5)+px;
          cursor: pointer;

          &:after {
            display: inline-block;
            content: '';
          }
        }

        &-facebook {
          background-position: 0 0;
        }

        &-twitter {
          background-position: 0 (-84*0.5)+px;
        }

        &-kakaostory {
          background-position: 0 (-84*0.5*2)+px;

        }

        &-kakaotalk {
          background-position: 0 (-84*0.5*3)+px;
        }
      }
    }
  }

  .status-box-wrap + .bonus-wrap {
    background: none;
    padding-top: 10px;
  }
}


