.section-footer{
  padding-top: 40px;
  background: #000;

  .copy {
    padding: 0 10px 60px;
    color: rgba(#fff, .3);
    font-size: 12px;
  }

  // 이벤트 유의사항 섹션
  .section-event-caution {
    min-height: auto;
    padding: 0 0 20px;
    text-align: center;

    .btn-event-notice {
      display: inline-block;
      padding: 0 73px;
      border: 1px solid #fff;
      font-size: 15px;
      line-height: 48px;
      letter-spacing: -0.05em;
      color: #fff;
      transition: all .3s;
      text-decoration: none;
      opacity: .3;

      &:hover {
        opacity: 1;
        //border-color: #fff;
        //color: #fff;
      }
    }
  }

}