.section-minigame .section-contents {
    padding-left: 0;
    padding-right: 0;

    .section-title {
        width: (458/1.8)+px;
        height: (246/1.8)+px;
        background-image: url("assets/img/preorder/title_minigame_m.png");

        @include bp(pc) {
            width: 727px;
            height: 213px;
            background-image: url("assets/img/preorder/title_minigame.png");
        }
    }

    .info-wrap {
        //margin-top: 19px;
        font-size: 13px;
        color: #a86f2c;

        @include bp(pc) {
            margin-top: 10px;
            //margin-top: -186px;
        }

        .date,
        .target {
            width: 230px;
            margin: 3px auto;
            text-align: left;
            letter-spacing: -.4px;
            line-height: 1.4;

            @include bp(pc) {
                display: inline-block;
                width: auto;
                font-size: 16px;
                margin-left: 12px;
                margin-right: 12px;
            }
        }

        strong {
            display: inline-block;
            width: 65px;
            height: 19px;
            padding-top: 1px;
            margin-right: 2px;
            font-size: 12px;
            font-weight: normal;
            color: #977249;
            text-align: center;
            border: 1px solid rgba(#936f47, .5);
            border-radius: 19px;

            @include bp(pc) {
                width: 80px;
                height: 28px;
                padding-top: 0;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    .rewards {
        img {
            display: none;
            width: 100%;
            margin: 0 auto;
        }

        .mobile {
            display: block;
            max-width: 320px;
        }

        .pc { max-width: 793px; }

        @include bp(pc) {
            .pc {
                display: block;
            }

            .mobile {
                display: none;
            }
        }
    }

    .reward-list{
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 106px;
        background: url("assets/img/preorder/img_minigame_reward.png") no-repeat 0 0;
        background-size: cover;
    }

    .btn-set {
        margin-top:12px;

        @include bp(pc) {
            margin-top: 36px;
        }

        .btn {
            display: inline-block;
            width: 160px;
            height: 64px;
            background-image: url("assets/img/preorder/btn_minigame_v2_m.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 320px auto;
            @include hide-text();

            @include bp(pc) {
                width: 290px;
                height: 118px;
                background-size: auto 118px;
                @include transition(background, 1s);

                &:hover {
                    background-image: url("assets/img/preorder/btn_minigame_v2_on.png");
                    @include transition(background, .3s);
                }
            }
        }

        .minigame {
            @include bp(pc) { background-image: url("assets/img/preorder/btn_minigame_v2.png"); }
        }

        .pointshop {
            background-position: right top;

            @include bp(pc) { background-image: url("assets/img/preorder/btn_minigame_v2.png"); }
        }
    }

    .link-list {
        max-width: 530px;
        list-style: none;
        margin: 3px auto 26px;
        padding: 0;
        text-align: left;
        font-size: 14px;

        .only-pc { display: none; }

        @include bp(pc) {
            font-size: 16px;
            margin: 9px auto 60px;

            .only-pc { display: inline; }
        }

        li {
            position: relative;
            width: 100%;
            padding: 8px 20px;
            text-align: center;
            color: #7489bc;
        }

        .text {
            display: inline-block;
            margin: 0;
            letter-spacing: -.8px;
            text-align: left;

            @include bp(pc) {
                letter-spacing: -.7px;
            }
        }

        .btn {
            display: inline-block;
            width: 64px;
            height: 24px;
            margin-left: 7px;
            line-height: 24px;
            font-size: 12px;
            color: #7489bc;
            text-decoration: none;
            white-space: nowrap;
            background: #111c37;
            border-radius: 500em;

            @include bp(pc) {
                width: 78px;
                height: 28px;
                padding-top: 1px;
                font-size: 14px;
                letter-spacing: -.6px;
            }
        }
    }
}
