// base
// ===============================
@import
"base/_normalize.4.0.0",
"base/_reset";


// vendor
// ===============================
@import
"vendor/bourbon/_bourbon",
"vendor/_slick",
"vendor/_swiper.min";


// util
// ===============================
@import
"util/_variable",
"util/_mixin";


// module
// ===============================
@import "module/_layer_main";


// layout
// ===============================
@import
"layout/_cnb",
"layout/_common",
"layout/_header",
"layout/_footer";


// page
// ===============================
@import
"page/preorder_main/_section",
"page/preorder_main/_nav_quick",
"page/preorder_main/_bg_movie",
"page/preorder_main/_layer_preorder",
"page/preorder_main/_section_preorder",
"page/preorder_main/_section_share",
"page/preorder_main/_section_introduce";

.page-main .wrap-footer {
    padding-top: 40px;
    background-color: #000;
    background-image: none;
}
